/* Estilo básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Encabezado */
h1 {
    display: flex;
    justify-content: center;
    color: #3d3d3d;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Navegación del header */
header nav#menu_inicio {
    display: flex;
    justify-content: center;
    gap: 30px;
    border-bottom: 2px solid #3d3d3d;
    padding: 15px 0;
    background-color: #fafafa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header nav#menu_inicio a {
    text-decoration: none;
    color: #333;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    transition: color 0.3s ease, transform 0.3s ease;
}

header nav#menu_inicio a:hover {
    color: #b36161;
    transform: scale(1.1);
}

/* Sección de Categorías */
div#catego {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

div#catego h3 {
    color: #5b3030;
    text-align: center;
    margin-bottom: 8px;
}

/* Elementos de productos */
.ratones_baratos, .ratones_alambricos, .ratones_inalam {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.ratones_baratos div, .ratones_alambricos div, .ratones_inalam div {
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.ratones_baratos div:hover, .ratones_alambricos div:hover, .ratones_inalam div:hover {
    transform: translateY(-5px);
}

button[type="submit"] {
    background-color: #5b3030;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #944040;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #fafafa;
    padding: 30px 0;
    color: #333;
    font-size: medium;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer ul {
    list-style-type: none;
}

footer a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #b36161;
}

/* Responsivo */
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    nav#menu_inicio {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .ratones_baratos, .ratones_alambricos, .ratones_inalam {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    .ratones_baratos, .ratones_alambricos, .ratones_inalam {
        grid-template-columns: 1fr;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}
